:root {
  --mainColor: #bd070e;
  --textColor: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.headerNews {
  background-color: var(--mainColor);
  color: var(--textColor);
  font-size: 14px;
  height: 30px;
}
.headerNews .container{
  position: relative;
}
.headerNews .container .newsSection {
  width: 85%;
  float: left;
  line-height: 30px;
}
.headerNews .container .newsSection .newsTitle {
  width: 15%;
  float: left;
}
.headerNews .container .newsSection .newsTitle h4 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 19px;
}
.headerNews .container .newsSection .newsTitle h4 i{
  font-size: 15px;
  padding-left: 5px
}
.headerNews .container .newsSection .news {
  width: 85%;
  float: left;
}
.headerNews .container .socialIcon{
  text-align: right;
  width: 15%;
  float:left;
}
.header{
  height: 120px;
  margin-top: 30px;
}
.header .container .headerLeft{
  width:40%;
  float: left;
}
.header .container .logo{
  width:20%;
  float: left;
}
.header .container .headerRight{
  width:40%;
  float: left;
}
.header .container .headerLeft li{
  display: inline-block;
  padding: 0 10px;
  position: relative;
}
.header .container .headerLeft ul li a{
  color: #8a8a8a;
  text-transform: uppercase;
  letter-spacing: 1;
  font-size: 14px;
  font-weight: bold;
}
.header .container .headerLeft ul li a:hover{
  color:#bd070e;
}
.header .container .headerLeft ul li::after{
  position: absolute;
  content: '';
  width:8px;
  height: 8px;
  border-radius: 50%;
  background-color: #bfbebe;
  left: -3px;
  top: 5px;
}
.header .container .headerLeft a.fbClubBtn{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #bd070e;
  padding: 5px 10px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 6px;
  margin-top: 20px;
  display: inline-block;
}
.header .container .logo{
  text-align: center;
}
.header .container .headerRight{
  text-align: right;
}
.header .container .headerRight p i{
  color: #bfbebe;
}
.header .container .headerRight p span{
  font-size: 16px;
  color: #bd070e;
  font-weight: bold;
}
.header .container .headerRight>span{
  margin-top: 20px;
  display: block;
}
.header .container .searchBox{
  margin-top: 20px;
  position: relative;
}
.header .container .searchBox input{
  border: none;
  outline: none;
  padding: 8px 5px;
  width: 40%;
  transition: all linear .5s;
  -webkit-transition: all linear .5s;
}
.header .container .searchBox input:hover,
.header .container .searchBox input:focus{
  background-color:#f2f2f2;
  width: 50%;
}
.header .container .searchBox button{
  position: absolute;
  right: 10px;
  top: 8px;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  border:none;
  background:none;
  cursor: pointer;
}
.header .container .searchBox input:hover +  button,
.header .container .searchBox input:focus +  button,
.header .container .searchBox button:hover{
  color:#bd070e;
}
.menuAndBannerSection{
  position: relative;
  margin-top: 20px;
  height: 450px;
}
.menuAndBannerSection .menu{
  background-color: rgba(0,0,0,0.6);
  height: 50px;
}
.menuAndBannerSection .menu .container .leftMenu{
  width: 80%;
  float:left;
  line-height: 50px;
}
.menuAndBannerSection .menu .container .leftMenu ul li{
  float: left;
  position: relative;
}
.menuAndBannerSection .menu .container .leftMenu ul li a{
  display: block;
  font-size: 16px;
  color: #fff;
  padding: 0 15px;
  font-weight: bold;
  letter-spacing: 1px;
  outline: 0;
  border-right: 1px solid #fff;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
}
.menuAndBannerSection .menu .container .leftMenu ul li:last-child a{
  border: 0;
}
.menuAndBannerSection .menu .container .leftMenu ul li:hover > a{
  background-color: #bd070e;
}
.menuAndBannerSection .menu .container .leftMenu ul li ul{
  position: absolute;
  width: 200px;
  background-color: #fff;
  z-index: 99;
  border-radius: 0 0 5px 5px;
  margin-top:50px;
  opacity: 0;
  visibility: hidden;
  transition: all linear .4s;
  -webkit-transition: all linear .4s;
}
.menuAndBannerSection .menu .container .leftMenu ul li:hover > ul{
  margin-top:0px;
  opacity: 1;
  visibility: visible;
}
.menuAndBannerSection .menu .container .leftMenu ul li ul::before{
  position: absolute;
  content: '';
  left: 20px;
  top: -10px;
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
.menuAndBannerSection .menu .container .leftMenu ul li ul .crseMegaMenu{
  width: 890px;
  padding: 10px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
}
.menuAndBannerSection .menu .container .leftMenu ul li ul .crseMegaMenu li{
  width: 270px;
  height: 70px;
  float: left;
  background: #fff;
  margin: 10px;
  border: 1px solid #ededed;
  overflow: hidden;
}
.menuAndBannerSection .menu .container .leftMenu ul li ul .crseMegaMenu li a{
  padding: 0;
  color: #000;
  display: block;
  height: 100%;
}
.menuAndBannerSection .menu .container .leftMenu ul li ul .crseMegaMenu li:hover > a{
  background-color: #ededed;
}
.menuAndBannerSection .menu .container .leftMenu ul li ul .crseMegaMenu li:hover > a .crseDes h4{
  color: #bd070e;
}
.menuAndBannerSection .menu .container .leftMenu ul li ul .crseMegaMenu li a div.crseIcon{
  width:65px;
  height: 100%;
  line-height: 70px;
  float: left;
  background-color: #ededed;
  text-align: center;
}
.menuAndBannerSection .menu .container .leftMenu ul li ul .crseMegaMenu li a div.crseIcon img{
  vertical-align: middle;
}
.menuAndBannerSection .menu .container .leftMenu ul li ul .crseMegaMenu li a div.crseDes{
  width:200px;
  float: left;
  padding-left: 10px;
  line-height: initial;
  letter-spacing: initial;
}
.menuAndBannerSection .menu .container .leftMenu ul li ul .crseMegaMenu li a div.crseDes h4{
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px auto;
}
.menuAndBannerSection .menu .container .leftMenu ul li ul .crseMegaMenu li a div.crseDes p{
  font-size: 11px;
  font-family: sans-serif;
  text-transform: capitalize;
}
.menuAndBannerSection .menu .container .leftMenu ul li ul li{
  width:100%;
}
.menuAndBannerSection .menu .container .leftMenu ul li ul li a{
  border-right: none;
  color: #000;
  text-transform: capitalize;
  font-size: 14px;
  padding: 10px;
  line-height: initial;
}
.menuAndBannerSection .menu .container .leftMenu ul li ul li:last-child a{
  border-radius: 0 0 5px 5px;
}
.menuAndBannerSection .menu .container .leftMenu ul li ul > li:hover a{
  color: #fff;
  padding-left: 15px;
}
.menuAndBannerSection .menu .container .rightButton{
  width: 20%;
  float:left;
  text-align: center;
}
.menuAndBannerSection .menu .container .rightButton a{
  display: inline-block;
  padding: 6px 50px;
  background-color: #bd070e;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px 0;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
}
.menuAndBannerSection .menu .container .rightButton a:hover{
  background-color: #c9151c;
}
.menuAndBannerSection .banner{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -999999;
}
.menuAndBannerSection .banner img{
  width:100%;
  height: auto;
}
.crseAndSmnr{
  margin-top: 70px;
}
.crseAndSmnr .container .course{
  width: 49%;
  float: left;
}
.crseAndSmnr .container .seminar{
  width: 49%;
  float: right;
}
.crseAndSmnr .container .course h2.heading,
.crseAndSmnr .container .seminar h2.heading{
  background-color: #bd070e;
  color: #fff;
  padding: 5px 20px;
}
.crseAndSmnr .container .course .courseImg .courseImgBox{
  width:25%;
  float:left;
  font-size: 0;
  position: relative;
}
.crseAndSmnr .container .course .courseImg .courseImgBox a img{
  width:100%;
  height: 100%;
}
.crseAndSmnr .container .course .courseImg .courseImgBox a img:last-child{
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.crseAndSmnr .container .course .courseImg .courseImgBox a:hover img:last-child{
  display: block;
}
.crseAndSmnr .container .seminar .seminarImg img{
  width:100%;
  height: 100%;
}